/* latin-ext */
@font-face {
    font-family: 'Slabo 27px';
    font-style: normal;
    font-weight: 400;
    src: local('Slabo 27px'), local('Slabo27px-Regular'), url(https://fonts.gstatic.com/s/slabo27px/v3/LfR9_S_HMdQ73mwIHBRxoSEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Slabo 27px';
    font-style: normal;
    font-weight: 400;
    src: local('Slabo 27px'), local('Slabo27px-Regular'), url(https://fonts.gstatic.com/s/slabo27px/v3/PuwvqkdbcqU-fCZ9Ed-b7fk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
   font-family: 'itc_avant_garde_gothicbook';
    src: url('../fonts/avantgardebook-webfont.eot');
    src: url('../fonts/avantgardebook-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avantgardebook-webfont.woff') format('woff'),
         url('../fonts/avantgardebook-webfont.ttf') format('truetype'),
         url('../fonts/avantgardebook-webfont.svg#itc_avant_garde_gothicbook') format('svg');
    font-weight: normal;
    font-style: normal;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
}

@font-face {
	font-family: 'AvantGarde-Medium';
	src: url('../fonts/avantgardemedium.eot');
	src: url('../fonts/avantgardemedium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/avantgardemedium.woff') format('woff'),
		 url('../fonts/avantgardemedium.ttf') format('truetype'),
		 url('../fonts/avantgardemedium.svg#avantgardemedium') format('svg');
	font-weight: normal;
	font-style: normal;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
		}

@font-face {
   font-family: 'itc_avant_garde_gothicdemi';
    src: url('../fonts/avantgardedemi-webfont.eot');
    src: url('../fonts/avantgardedemi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avantgardedemi-webfont.woff') format('woff'),
         url('../fonts/avantgardedemi-webfont.ttf') format('truetype'),
         url('../fonts/avantgardedemi-webfont.svg#itc_avant_garde_gothicdemi') format('svg');
    font-weight: normal;
    font-style: normal;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
}

@font-face {
   font-family: 'itc_avant_garde_gothicXLt';
    src: url('../fonts/avantgardeextralight-webfont.eot');
    src: url('../fonts/avantgardeextralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avantgardeextralight-webfont.woff') format('woff'),
         url('../fonts/avantgardeextralight-webfont.ttf') format('truetype'),
         url('../fonts/avantgardeextralight-webfont.svg#itc_avant_garde_gothicXLt') format('svg');
    font-weight: normal;
    font-style: normal;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	}

@font-face {
   font-family: 'Abel';
    src: url('../fonts/Abel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(//fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nBBQ_Gf4FfI8J4SYljBAylk.woff2) format('woff2'), url(//fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nNeiznanRB67rGZDYkMvKPc.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(//fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2) format('woff2'), url(//fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(//fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nHm2hrkyco9jQ3NKMXpgOBg.woff2) format('woff2'), url(//fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nCSLrGe-fkSRw2DeVgOoWcQ.woff) format('woff');
}

body,td,th {
    /*
	color: #212121;
	font-family: 'itc_avant_garde_gothicbook';
	*/
    font-family: "Roboto Condensed",sans-serif;
    font-size: 14px;
    color: #333;
    /*line-height: 16px;*/

	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	text-align:left;
}

body {
	/*background-color: #efefef;
	background-image: url(../images/bg-tile.gif);*/
	background-repeat: repeat;
	margin-left: 0px;
	/*margin-top: 25px;*/
    margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 25px;
	letter-spacing: 0;
}

HR { 
color: #f1f1f1;
background-color: #f1f1f1;
height: 1px;
margin: 20px;
}

.med {
	font-family: 'AvantGarde-Medium';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	font-weight: normal;
}

.sm_med {
	font-family: 'AvantGarde-Medium';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	font-weight: normal;
	font-size: 11px;
}	

.demi {
	font-family: 'itc_avant_garde_gothicdemi';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	font-weight: normal;
}

/*****  FORM STUFF *******/
.fm_styl {
	background: #fff;
	border: solid 1px #ebebeb;
	padding: 5px;
	font-size: 12px;	
}

input[type="text"], input[type="password"], textarea {
	background: #f1f1f1;
	border: solid 1px #dadada;
	padding: 5px;
	font-size: 12px;
	margin: 0 8px 0 8px;
	font-family: 'AvantGarde-Medium';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
}

select {
	background: #fff;
	border: solid 1px #ebebeb;
	padding: 5px;
	font-size: 12px;
	margin: 0 8px 0 8px;
	font-family: 'AvantGarde-Medium';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
}

.prod_name {margin: 5px 0 5px 0;}

.regularprice {
	text-align: left;
	font-size: 23px;
	color: #6450A8;
	display: inline
}

.add_row {
	padding: 0 0 0 10px;
}

/*****  END FORM STUFF *******/
.main_wrap {
     background: #fff;
     /*padding: 25px;*/
     width: 780px;
     margin: auto;
     /*
     padding-left: 15px;
     padding-right: 15px;
     */
 }

.main_content{
    width: 750px !important;
    display: table;
    clear: both;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

#main_nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: right;
}

#main_nav ul li { 
	display: inline; 
	margin: 0 0 0 5px; 
	text-transform: uppercase;
	font-family: 'itc_avant_garde_gothicbook';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	font-size: 13px;
}

#error-message {
	color: #f00; 
	margin-bottom: 25px;
	width: 100%;	
}

#main_nav ul li a {
	text-decoration: none;
	padding: 16px 6px 5px 6px;
	color: #212121;
}

#main_nav ul li a:hover {
	color: #fff;
	background-color: #dfcff3;
}

.login {
	background: #f4f4f4;
	padding: 4px 10px;
	width: 160px;
	float: right;
	text-transform: lowercase;
	text-align: right;
}

.cart {
	background: #dfcff3;
	/*padding: 1px 5px;*/
	float: right;
	text-transform: lowercase;
	text-align: right;
}

a.cart_items {
	text-decoration: none;
	font-family: 'AvantGarde-Medium';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	font-size: 12px;
	color: #551a8b;
}

a.cart_items:hover {
	color: #8c5fc4;
}


.pageHeading {
	/*font-family: 'itc_avant_garde_gothicbook';*/
    font-family: 'Slabo 27px';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	text-transform: uppercase;
	font-size: 34px;
	color: #fff;
	padding: 0 0 0 8px;
	background: #d4d4d4;
	text-align:left;
}

.pageHeading_consultant {
    /*font-family: 'itc_avant_garde_gothicbook';*/
    font-family: 'Slabo 27px';
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
    zoom:1;
    text-transform: uppercase;
    font-size: 34px;
    color: #fff;
    padding: 0 0 0 8px;
    background: #d4d4d4;
    text-align:left;
}

.pageHeading_dark {
	/*font-family: 'AvantGarde-Medium';*/
    font-family: 'Slabo 27px';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	text-transform: uppercase;
	font-size: 18px;
	color: #212121;
	padding: 0 0 0 8px;
	background: #d4d4d4;
}

.double_height {
	height: 90px;
	vertical-align: bottom;
}

.ph_thin {
	font-family: 'itc_avant_garde_gothicXLt';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	text-transform: uppercase;
	font-size: 34px;
	color: #fff;
}

.vert_sep {width: 12px;}
.horiz_sep {height: 12px;}

/***** PINK BACKGROUNDS  ******/	
.p1 {background: #78318D;}
.p2 {background: #78318D;}
.p3 {background: #78318D;}\

/***** PURP BACKGROUNDS  ******/	
.purp {
	background: #7762a7;
}

/***** BROWN BACKGROUNDS  ******/	
.b1 {background: #948172;}
.b2 {background: #ccc1b9;}

/***** GRAY BACKGROUNDS  ******/	
.g1 {background: #b7b7b7;}
.g2 {background: #d4d4d4;}
.g3 { background: #f1f1f1;}
.g4 { background: #f4f4f4;}
.g4_consultant { background: #f4f4f4;}

.narrow {
	font-family: 'itc_avant_garde_gothicbook';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	font-size: 19px;
	text-transform: uppercase;
	color: #b7b7b7;
	padding: 0 0 0 5px;
}

.narrow_text, .narrow_text a {
	font-family: 'arial';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	font-size: 14px;
	color: #555;
	text-transform: lowercase;
	line-height: 15px;
	padding: 0 0 0 20px;
}

.sub_heading {
	font-family: 'itc_avant_garde_gothicbook';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	font-size: 19px;
	text-transform: uppercase;
	color: #fff;
	line-height: 28px;
}

.p_text, .p_text a {
	font-family: 'AvantGarde-Medium';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	color: #FFFFFF;
	font-size: 13px;
	text-decoration: none;
}

a.con_log {
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	text-transform: lowercase;
}

a.con_log:hover {
	font-size: 12px;
	color: #999;
	text-decoration: none;
}

.prod_image {
	border: solid 1px #e5e5e5;
	margin: 12px 0 0 0;
}

.prod_price {
	font-size: 34px;
	color: #2e105b;
	font-family: 'AvantGarde-Medium';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
}

.pl_price {
	background: #fafafa;
	padding: 5px;
	width: 80%;
	margin: auto;
}

.pl_price .yourprice {
	text-align: left;
	font-size: 12px;
	color: #1d1d1d;
}

/***** FOOTER STUFF  ******/	
.footer {
	background: #ffffff;
	padding: 30px;
}

a.button_s {
	font-family: 'itc_avant_garde_gothicdemi';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	text-transform: uppercase;
	color: #fff;
	font-size: 22px;
	text-align: center;
	text-decoration: none;
}

a.button_w {
	font-family: 'itc_avant_garde_gothicdemi';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	text-transform: uppercase;
	color: #fff;
	font-size: 32px;
	text-align: center;
	text-decoration: none;
}

a.button_w:hover {
	font-family: 'itc_avant_garde_gothicdemi';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	text-transform: uppercase;
	color: #e0e0e0;
	text-align: center;
	text-decoration: none;
}

.breadcrumb, .breadcrumb a {
	font-size: 10px;
	color: #969696;
	text-decoration: none;
}

.breadcrumb a:hover {
	font-size: 10px;
	color: #574286;
	text-decoration: none;
}

/***************  OLD and NEW CSS SEPERATOR *********************/
.boxText { 
	font-family: 'itc_avant_garde_gothicbook';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	font-size: 12px;
	color: #555;
	text-decoration: none;
	text-transform: lowercase;
	line-height: 20px; 
}

.infoBoxContents .boxText a { 
	font-family: 'itc_avant_garde_gothicbook';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	font-size: 12px;
	color: #555;
	text-decoration: none;
	text-transform: lowercase;
	line-height: 20px; 
}

.errorBox { font-family : Verdana, Arial, sans-serif; font-size : 10px; background: #ffb3b5; font-weight: bold; }
.stockWarning { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: #cc0033; }
.productsNotifications { background: #f2fff7; }
.orderEdit { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: #645093; }

FORM {
	display: inline;
}

TR.header {
  background: #ffffff;
}

TR.headerNavigation {
  /*background: #ffffff;*/
}

TD.headerNavigation {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  color: #274180;
  font-weight : bold;
}

A.headerNavigation { 
  color: #274180; 
}

A.headerNavigation:hover {
  color: #274180;
}

TR.headerError {
  background: #274180;
}

TD.headerError {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #274180;
  color: #ffffff;
  font-weight : bold;
  text-align : center;
}

TR.headerInfo {
  background: #00ff00;
}

TD.headerInfo {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #00ff00;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

/******** BOXXXXES ******/
.infoBox {

}

.infoBoxContents {
	margin: 0 0 0 10px;
	font-family: 'AvantGarde-Medium';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	font-size: 12px;
}

.infoBoxContents a {
	margin: 0 0 0 10px;
	font-family: 'AvantGarde-Medium';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	font-size: 12px;
	color: #645093;
	text-decoration: none;
}

.infoBoxContents a:hover { 
	text-decoration: none;
	color: #9280b8;
}

.infoBoxNotice {
  background: #FF8E90;
}

.infoBoxNoticeContents {
  background: #FFE6E6;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

TD.infoBoxHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #274180;
}

TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {
  background: #ffffff;
}

TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {
  background: #ffffff;
}

/* TRAV */

TABLE.productListing {
/*  border-style: solid;
  border-color: #d7d7d7;
  border-spacing: 1px;*/
}

.productListing-heading {
	font-family: 'Arial';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
}

TD.productListing-data {
	font-family: 'AvantGarde-Medium';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	font-size: 12px;
}

.productListing-data b {
	font-family: 'AvantGarde-Medium';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	font-size: 12px;
	font-weight: normal;
}

A.pageResults {
  color: #0000FF;
}

A.pageResults:hover {
  color: #0000FF;
  background: #FFFF33;
}

TR.subBar {
  background: #f4f7fd;
}

TD.subBar {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  color: #000000;
}

.main {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	color: #444444;
	line-height: 20px;
	font-weight: 200;
}

.main strong, .main B {
	font-size: 17px;
	color: #645093;
}

.main a { 
	text-decoration: none;
	color: #645093;
}

.main a:hover { 
	text-decoration: none;
	color: #9280b8;
}

.info {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1d1d1d;
	text-decoration: none;
}

.info strong { 
	font-size: 13px;
	color: #1d1d1d;
	text-decoration: none;
	font-weight: normal;
}

.smallText a {
  	font-family: 'AvantGarde-Medium';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
  	font-size: 12px;
	color: #555;
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: normal !important;
	text-align: center;
}

.smallText {
  	font-family: 'Arial';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
  	font-size: 14px;
	color: #9381CE;
	text-decoration: none;
	text-transform: upercase;
	letter-spacing: -0.5px;
	text-align: center;
}

TD.accountCategory {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  color: #274180;
}

TD.fieldKey {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

TD.fieldValue {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}

TD.tableHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

SPAN.newItemInCart {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  color: #274180;
}

SPAN.greetUser {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #f0a480;
  font-weight: bold;
}

TABLE.formArea {
  background: #f1f9fe;
  border-color: #f82806;
  border-style: solid;
  border-width: 1px;
}

TD.formAreaTitle {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

SPAN.markProductOutOfStock {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #c76170;
  font-weight: bold;
}

SPAN.productSpecialPrice {
  font-family: Verdana, Arial, sans-serif;
  color: #274180;
}

SPAN.errorText {
  font-family: Verdana, Arial, sans-serif;
  color: #274180;
}

.moduleRow { }
.moduleRowOver { background-color: #D7E9F7; cursor: pointer; cursor: hand; }
.moduleRowSelected { background-color: #E9F4FC; }

.checkoutBarFrom, .checkoutBarTo { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #8c8c8c; }
.checkoutBarCurrent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; }

/* message box */
.messageBox { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }
.messageStackSuccess { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #99ff00; }

/* input requirement */
.inputRequirement { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #274180; }



/*** Begin Header Tags SEO ***/
h1 {
	/*font-family: 'itc_avant_garde_gothicbook';*/
    font-family: 'Slabo 27px';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	text-transform: uppercase;
	font-size: 34px;
	color: #fff;
	padding: 0 0 0 8px;
	background: #d4d4d4;
	font-weight: normal;
	text-align:left;
}

h2 {
	 /*font-family: Verdana, Arial, sans-serif;*/
    font-family: 'Slabo 27px';
	 font-size: 14px;
	 font-weight: normal;
	 margin-bottom: 0;
	 padding-bottom: 0;
}

/*** End Header Tags SEO ***/
.maintable {margin-left: auto; margin-right: auto; width: 1075px;}

.SavingsPercent  { font-size: 8px; }

.oldPrice { text-decoration: line-through; }

.greybd {
	font-family: Verdana, Arial, sans-serif;
 	font-size: 12px;
 	font-weight: bold;
 	color: #274180;
}

/* ultimate buttons */

/* applegray, appleblue, darkgray buttons /////////////////// */
span.buttons, .buttons, .buttons_submit, input[type="submit"] {
	background-color:#645093;
	display:inline-block;
	color:#ffffff;
	/*font-family: 'itc_avant_garde_gothicbook';*/
    font-family: 'Slabo 27px';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	text-transform: uppercase;
	font-size:18px;
	font-weight:normal;
	letter-spacing: normal;
	padding:3px 10px 2px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #3a2080;
	border: none;
}

.buttons-small {
    cursor: pointer;
    background-color:#dfcff3;
    display:inline-block;
    color:#551a8b;
    /*font-family: 'itc_avant_garde_gothicbook';*/
    font-family: 'Slabo 27px';
    zoom:1;
    text-transform: none;
    font-size:11px;
    line-height: 14px;
    font-weight:bold;
    letter-spacing: normal;
    white-space: nowrap;
    padding:3px 10px 3px 10px;
    text-decoration:none;
    border: none;
}

input[type="submit"].search {
	background-color:#f4f4f4;
	display:inline-block;
	color:#555;
	/*font-family: 'itc_avant_garde_gothicbook';*/
    font-family: 'Slabo 27px';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	text-transform: uppercase;
	font-size:18px;
	font-weight:normal;
	letter-spacing: normal;
	padding:0px 10px 3px 10px;
	text-decoration:none;
	text-shadow: none;
	border: none;
}

input[type="submit"].search:hover {
	background-color:#CCC;
	cursor: pointer;
}

.buttons:hover, .buttons_submit:hover, input[type="submit"]:hover {
	background-color:#331760;
	cursor: pointer;
}

.buttons:active {
	position:relative;
	top:1px;
}

/* Checkout styles */
.bGreen {
	background-color: #88c32b;
}

.bBlue {
	background-color: #0d4a7b;
}

.bBlack {
	background-color: #292929;
}

.big {
	color: #292929;
	font-size: 14px;
	font-weight:bold;
	padding-left: 10px;
}

.tooltip {
	background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:200px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:12px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}

.requiredField{
	color:red;
	padding-left:3px;
}

/******** CSS MENU ***********/
ul#categories,ul#categories ul{
	margin:0;
	list-style:none;
	padding:0;
	width: 100%;
}

ul#categories ul{
	display:none;
	position:absolute;
	left:100%;
	top:0;
	padding:0;
}



ul#categories li:hover>* {display:block;}

ul#categories li{
	position:relative;
	display:block;
	white-space:nowrap;
	font-size:0;
}

ul#categories li:hover {z-index:1;}

ul#categories{
	font-size:0;
	z-index:999;
	position:relative;
	display:block;
	float:left;
	padding:0;
}

ul#categories>li {margin: -1px;}

ul#categories a:active, ul#categories a:focus {outline-style:none;}

ul#categories a{
	display:block;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	font-size:12px;
	color:#898989;
	cursor:pointer;
	padding: 5px 10px;
	background-color:#fff;
	background-image:none;
	background-repeat:repeat;
	border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:#f1f1f1;
	font-family: 'arial';
}

ul#categories ul li {float:none;margin: -1px;}

ul#categories ul a{
	text-align:left;
	color:#555;
	text-decoration:none;
}

ul#categories li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#dfcff3;
	border-color:#f1f1f1;
	border-style:solid;
	color:#fff;
}

ul#categories span{
	display:block;
	overflow:visible;
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:14px;
}

ul#categories ul li:hover>a,ul#categories ul li a.pressed {color:#fff;text-decoration:none;}
ul#categories li.topfirst>a {border-width:0;}
ul#categories li.subfirst>a {border-width:0;}


/**********************************  */

#pageLoadingContainer{
	visibility:hidden;
	padding-right:10px;
	vertical-align:middle;
}


/*
	Mosaic - Sliding Boxes and Captions jQuery Plugin
*/

/*General Mosaic Styles*/
.mosaic-block {
	margin: auto;
	position:relative;
	overflow:hidden;
	width:200px;
	height:200px;
	margin:10px;
	background:#fff;
	border-top:1px solid #fff;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.3);
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

	.mosaic-backdrop {
		display:none;
		position:absolute;
		bottom:1px;
		height:200px;
		width:200px;
		background:#fff;
		vertical-align: bottom;
	}
	
	.mosaic-overlay {
		display:none;
		z-index:5;
		position:absolute;
		width:100%;
		height:100%;
		background:#fff;
	}
	
		.bar .mosaic-overlay {
			bottom:-125px;
			height:125px;
			background:url(../images/bg-white.png);
			border-top: solid 1px #fff;
		}

.clearfix{ display: block; height: 0; clear: both; visibility: hidden; }
.details{ margin:15px 20px; }			
		
		/*** End Animation Styles ***/

.qty_corner {
	float: right;
	height: 70px;
	width: 70px;
	margin: 0 10px -70px 0;
	background: url(../images/overlay_qty.png);
	position: relative;
	z-index: 200;
	text-align: right;
}

.qty_corner a{
	font-family: 'AvantGarde-Medium';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	color: #551a8b;
}
	
.qty_corner a:hover{
	color: #8c5fc4;
}

.productModel{
	font-size:small !important;
	color: #333 !important;
}

#loadmoreajaxloader {
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 50%;
  bottom: 100px;
  width: 200px;
  padding: 10px;
  background: #000;
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

#loadkitcomparisonajaxloader {
    text-align: center;
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 200px;
    padding: 10px;
    background: #000;
    opacity: 0.8;
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


#addProductAjaxLoader {
  text-align: center;
  z-index: 1001;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100px;
	height:50px;
  padding: 10px;
  background: #000;
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}


.notificationBox{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.notificationBox ul{
    list-style: none;
}

.notification-success{
    border: 2px solid green;
}

.notification-success li{
    color: green;
    font-weight: bold;
}

.notification-warning{
    border: 2px solid #e08000;
}

.notification-warning li{
    color: black;
    font-weight: bold;
}

.notification-error{
    border: 2px solid red;
}

.notification-error li{
    color: red;
    font-weight: bold;
}


/* Resource center */
@import url(http://fonts.googleapis.com/css?family=Nunito);
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

* {margin: 0; padding: 0;}

/*
body {
    background: #4EB889;
    font-family: Nunito, arial, verdana;
}
*/

#accordian {
    background: #FFFFFF;
    width: 250px;
    color: #555555;
    border: 1px solid #F1F1F1;
}

#accordian h3 {
    background: #dfcff3;
    font-weight: normal;
}

#accordian h3 a {
    padding: 0 10px;
    font-size: 12px;
    line-height: 34px;
    display: block;
    color: #000000;
    text-decoration: none;
}

#accordian h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

#accordian h3 span {
    font-size: 16px;
    margin-right: 10px;
}

#accordian li {
    list-style-type: none;
    cursor: pointer;
    border-bottom: 1px solid #F1F1F1;
}

#accordian ul ul li a, #accordian h4 {
    color: #000000;
    text-decoration: none;
    font-size: 12px;
    line-height: 27px;
    display: block;
    padding: 0 15px;

    transition: all 0.15s;
    position: relative;
    border-left: 2px solid #FFFFFF;
}

#accordian ul ul li a:hover {
    background: #ece5f5;
    border-left: 2px solid #dfcff3;
}

#accordian ul ul {
    display: none;
}
#accordian li.active>ul {
    display: block;
}

#accordian ul ul ul{
    margin-left: 15px; border-left: 1px dotted rgba(0, 0, 0, 0.5);
}

#accordian a:not(:only-child):after {
    /*content: "\f104";*/
    font-family: fontawesome;
    position: absolute; right: 10px; top: 0;
    font-size: 14px;
}
#accordian .active>a:not(:only-child):after {
    /*content: "\f107";*/
}


/******************** online form ***************************/

#online_form .container{
    border:1px solid #D4D4D4;
}

#online_form th{
    background-color: #D4D4D4;
    color: #000000;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#online_form td{
    font-size: 12px;
}

#online_form #items{
    width: 100%;
}

#online_form input[type="text"]{
    margin: 0;
    padding: 0;
    width: 100%;
    background: #F9F9F9;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: inherit;
}

#online_form .input-colspan{
    width: 100%;
}

#online_form textarea{
    margin: 0;
    padding: 0;
    background: #F9F9F9;
    font-family: inherit;
}

#online_form .details-row .details-input{
    margin-bottom: 10px;
}


/**************************** signup form ****************************/

#signup_form .container{
    border:1px solid #D4D4D4;
}

#signup_form input[type="text"], #signup_form input[type="password"], #signup_form select{
    margin: 0;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #F9F9F9;
}

#signup_form th{
    background-color: #E4E4E4;
    color: #000000;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/**************************** tooltip *********************************/
.tooltip {
    display:none;
    background-color:#ffa;
    border:1px solid #cc9;
    padding:3px;
    -moz-box-shadow: 2px 2px 11px #666;
    -webkit-box-shadow: 2px 2px 11px #666;
    width: auto;
    height: auto;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #444444;
    line-height: 20px;
    font-weight: 100;
}


/***************************** pricing table *****************************/
.pricing-table .lead {
    font-size: 16px;
    line-height: 1;
    margin: 0;
}

.pricing-table h3 {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.pricing-table .list-group-item {
    text-align: left !important;
    margin-bottom: -1px;
    padding: 8px 15px;
    position: relative;
    /*line-height: 22px;*/
    font-family: Arial, Georgia, "Times New Roman", Times, serif;
    font-size: 18px !important;
    /*font-weight: bold !important;*/
}

.pricing-table .crossed{
    text-decoration: line-through;
    color: indianred !important;
}

.no-border{
    border: 0px !important;
}

.table-no-border, .table-no-border th, .table-no-border td {
    border: 0px !important;
}

.table-condensed>tbody>tr>td{
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.margin-bottom-10{
    margin-bottom: 10px !important;
}

.margin-bottom-15{
    margin-bottom: 15px !important;
}

.margin-bottom-20{
    margin-bottom: 20px !important;
}

.margin-top-20{
	margin-top: 20px !important;
}

.margin-bottom-30{
    margin-bottom: 30px !important;
}

.margin-bottom-40{
    margin-bottom: 40px !important;
}

.margin-bottom-50{
    margin-bottom: 50px !important;
}

.margin-right-0{
    margin-right: 0px !important;
}

.margin-left-0{
    margin-left: 0px !important;
}

.no-padding{
    padding: 0 !important;
}

@media screen and (max-width: 767px){
    .white-space-normal>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
        white-space: normal !important;
    }
}

.text-purple{
    color: purple !important;
}

.text-bold{
    font-weight: bold;
}

.text-right{
    text-align: right;
}

.text-uppercase{
    text-transform: capitalize !important;
}


.incentive-grand-total{
    font-weight: bold;
    color: purple;
    font-size: 72px;
    line-height: 72px;
}

.ui-multiselect .add-all, .ui-multiselect .remove-all, .ui-multiselect .count {
    color: white !important;
    font-weight: bold;
}

.ui-multiselect .available.connected-list, .ui-multiselect .selected.connected-list{
    padding-right: 12px !important;
}
